@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.containerClassic, .containerDesc, .containerPixels, #loading {
  min-height:100vh;
  background: url('../img/backgrounds/backgroundpkmn.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.entete, #desc_pokedex, #guessesDesc, .entetePixels, #guessesPixels, #guessesPixels-container, #pixels_pokedex {
  width:90%;
}

#formClassic {
  background-color:white;
  height:104px;
}
#pokeSearch {
  height:100%;
}
#submitClassic {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.blocAth {
  width: 88px;
  height:104px;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.indices {
  gap:0.8em;
}
.indiceDesac img {
  filter: saturate(0);
}

.tableClassic {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

table td {
  min-width:110px;
  width:110px;
  height:110px;
  font-weight:600;
  font-size:1.1rem;
}

table tbody tr > td:nth-child(1) {
  display:flex;
  justify-content:center;
  align-items:center;
}

.up {
  background: url('../img/icones/up.svg'), rgba(239,68,68);
}
.down {
  background: url('../img/icones/down.svg'), rgba(239,68,68);
}
.up, .down {
  background-repeat:no-repeat;
  background-size:30%;
  background-position:85% 15%;
}

/* alerte end */
.alerte {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.alerte > div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#suggestionsClassic {
  z-index:10;
  max-height:500px;
  overflow-y: scroll;
  width:100%;
  display:none;
  background-color:white;
}
#suggestionsClassic li {
  text-align:start;
}

.indices > div:nth-child(2) {
  gap:3em;
}
.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player audio {
  display: none;
}
.play-button {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: rgb(241 245 249 / 1);
}
.play-button:focus {
  border:none;
  outline:none;
}
.play-button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  border-left: 15px solid #213547;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.play-button:hover::before { 
  border-left: 15px solid rgb(239 68 68 / 1);
}
.play-button.playing::before {
  transform: translate(-50%, -50%);
  border-left: 5px solid #000;
  border-right: 5px solid #000;
  border-top: none;
  border-bottom: none;
  width: 5px;
  height: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 640px) {
  .blocAth {
    width: 104px;
  }

  .entetePixels, #guessesPixels, #guessesPixels-container, #pixels_pokedex {
    width:562px;
  }
}
@media (min-width: 768px) {  }

@media (min-width: 1024px) {
  .entete, #desc_pokedex, #guessesDesc {
    width:954px;
  }
}
