@import 'tailwindcss';
@import './design-tokens.css' layer(base);

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  font-family: 'Saira', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-width: none; 
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}

#classic, #desc, #pixels {
  margin: 0 auto;
  text-align: center;
}

#modesJeux, .containerClassic, .containerDesc, .containerPixels, #loading {
  background: url('../img/backgrounds/background.png') center/cover no-repeat, 
  linear-gradient(107deg, var(--bg-color1), var(--bg-color2)),
  linear-gradient(rgba(0,0,0,0.36), rgba(0,0,0,0.36)),
  #fff;
  background-blend-mode: overlay, normal, normal;
  background-attachment: fixed;
}

#classic {
  width:1460px;
}

.entete, #desc_pokedex, #guessesDesc, .entetePixels, #guessesPixels, #guessesPixels-container, #pixels_pokedex {
  position: relative;
  background: url('../img/backgrounds/motif-bg/forme-entete1.png') left 30px no-repeat,
              url('../img/backgrounds/motif-bg/forme-entete2.png') 77% center no-repeat,
              url('../img/backgrounds/motif-bg/forme-entete3.png') 98% center no-repeat,
              url('../img/backgrounds/motif-bg/points.png') 16% center no-repeat,
              linear-gradient(
                99deg,
                #091044 0%,
                #1B2088 34%,
                #0A1144 74%,
                #070F41 100%
              );

  /* Ajustement pour matcher Figma */
  background-size: auto, auto, auto, auto, 100% 160%;     /* taille auto pour les images, étire le gradient verticalement */
  background-position: left 30px, 77% center, 98% center, 16% center, center 30%; /* positions des images et du gradient */
  background-blend-mode: normal, normal, normal, overlay, normal; /* overlay pour points.png */
}

.entete::before, #desc_pokedex::before, #guessesDesc::before, .entetePixels::before, #guessesPixels::before, #guessesPixels-container::before, #pixels_pokedex::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(
    to right,
    rgba(43, 49, 195, 1) 0%,
    rgba(43, 49, 195, 0.2) 25%,
    rgba(43, 49, 195, 1) 51%,
    rgba(43, 49, 195, 0.25) 71%,
    rgba(43, 49, 195, 1) 97%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.blocAth {
  width: 88px;
  height:104px;
  background-color:white;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.indiceDesac img {
  filter: saturate(0) brightness(0.8);
}

.tableClassic {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

table td {
  min-width:110px;
  width:110px;
  height:110px;
  font-weight:600;
  font-size:1.1rem;
}

table tbody tr > td:nth-child(1) {
  display:flex;
  justify-content:center;
  align-items:center;
}

.row-guess .cat.up::before,
.row-guess .cat.down::before {
  content: '';
  position: absolute;
  top: 4px;
  right: 4px;
  width: 10px;
  height: 17px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.row-guess .cat.up::before {
  background-image: url('../img/icones/up.svg');
}

.row-guess .cat.down::before {
  background-image: url('../img/icones/down.svg');
}

/* alerte end */
.alerte {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(9, 16, 68, 0.6);
  backdrop-filter: blur(2px);
}

.indices > div:nth-child(2) {
  gap:3em;
}

#header-indices {
  background: url('../img/backgrounds/motif-bg/points2.png') 2% center no-repeat,
              linear-gradient(to right, #1B2088 0%, #091044 47%, rgba(9,16,68,0) 100%);
  background-blend-mode: overlay, normal;
}
.audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-player audio {
  display: none;
}
.play-button {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: var(--border);
}
.play-button:focus {
  border:none;
  outline:none;
}
.play-button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  border-left: 10px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
.play-button:hover::before {
  border-left: 10px solid var(--secondary-jaune);
}
.play-button.playing::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  border-left: 10px solid var(--secondary-jaune);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.play-icon {
  color:white;
}

.bloc-row {
  position: relative;
  overflow: visible;
}

.row-guess {
  position: relative;
}
.row-guess .cat-wrapper {
  padding: 1px;
  clip-path: polygon(0 10px, 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}

.row-guess .cat {
  color:white;
  font-weight:600;
  font-size:14px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 10px, 10px 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
}

.row-guess .cat.cat-red {
  position: relative;
  background: linear-gradient(to bottom, var(--red1), var(--red2));
}

.row-guess .cat.cat-red::after {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse 90% 50% at center 100%, var(--red-radial1), var(--red-radial2));
  mix-blend-mode: plus-lighter;
  pointer-events: none;
  opacity:0.75;
}

.row-guess .cat-wrapper.cat-wrapper-red {
  background-color: var(--red-border);
}

.row-guess .cat.cat-green {
  position: relative;
  background: linear-gradient(to bottom, var(--green1), var(--green2));
}

.row-guess .cat.cat-green::after {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse 90% 50% at center 100%, var(--green-radial1), var(--green-radial2));
  mix-blend-mode: plus-lighter;
  pointer-events: none;
  opacity:0.75;
}

.row-guess .cat-wrapper.cat-wrapper-green {
  background-color: var(--green-border);
}

.row-guess .cat.cat-yellow {
  position: relative;
  background: linear-gradient(to bottom, var(--yellow1), var(--yellow2));
}

.row-guess .cat.cat-yellow::after {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(ellipse 90% 50% at center 100%, var(--yellow-radial1), var(--yellow-radial2));
  mix-blend-mode: plus-lighter;
  pointer-events: none;
  opacity:0.75;
}

.row-guess .cat-wrapper.cat-wrapper-yellow {
  background-color: var(--yellow-border);
}

@media (min-width: 640px) {
  .blocAth {
    width: 104px;
  }

  .entetePixels, #guessesPixels, #guessesPixels-container, #pixels_pokedex {
    width:562px;
  }
}
@media (min-width: 768px) {  }

@media (min-width: 1024px) {

}
